.modalInner {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.mainImage {
  flex: 0 0 auto;

  width: 100%;
  height: 500px;

  background: black center / contain no-repeat;
  border-radius: 16px;
  border: 1px solid black;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;

    .linkButton {
      padding: 20px;
      background-color: rgba(17, 24, 39);
      border-radius: 16px;
      font-weight: bold;
      color: white;
    }
  }

  &:hover a {
    opacity: 1;
  }
}

.contentInner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stackList {
  display: inline-flex;
  padding-left: 10px;
  gap: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;

  display: block;
  padding: 15px 0;
}

.qna {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-left: 10px;
}

.question {
  font-weight: bold;
}

.solution {
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(135, 131, 120, 0.15);
  border-radius: 16px;
  white-space: pre-line;
  line-height: 1.5;
}