.projectHeader {
  display: flex;
  gap: 12px;
  align-items: center;

  .mainTitle {
    font-size: 2em;
    font-weight: 700;
  }

  .gitHubIcon {
    width: 30px;
    aspect-ratio: 1/1;
  }
}

@media (min-width: 767px) {
  .projectHeader {
    .gitHubIcon {
      width: 40px;
    }
  }
}
