.project {
  width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  border-bottom: 1px solid white;
  padding: 80px 0;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.projectCategory {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;

  width: 100%;
  font-size: 40px;

  li {
    width: 200px;
    text-align: center;
  }

  .projectTitleText {
    cursor: pointer;
  }

  .nowProjectTitle {
    width: 100%;
    height: 5px;
    background-color: white;

    transition: width 0.5s;
  }

  .defaultProjectTitle {
    width: 0%;
    height: 5px;
  }
}

.projectList {
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(235px,1fr));
  gap: 20px;

  figure img{
    width: 100%;
  }

  figcaption{
    padding: 5px;
  }
}
