.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;

  margin: 0 auto;
  padding: 50px 0;

  .title {
    font-size: 3em;
    font-weight: bold;
  }

  .projectCategory {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 20px 0px;

    width: 80%;
    font-size: 1.4em;
    text-align: center;

    .projectTitle {
      cursor: pointer;
    }

    .nowProjectTitle {
      width: 100%;
      height: 5px;
      background-color: white;

      transition: width 0.5s;
    }

    .defaultProjectTitle {
      width: 0%;
      height: 5px;
    }
  }

  .projectList {
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
