.EndingInner {
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: center;

  .en {
    font-size: 5em;
    font-family: "YeongwolTTF-Regular";
  }

  .ko {
    font-size: 1.5em;
    font-weight: 400;
  }
}
