.AboutMeinner {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0px;
  border-bottom: 1px solid white;

  .title {
    font-size: 3em;
    font-weight: bold;
  }

  .content {
    padding-top: 25px;
    font-size: 1em;

    & > * {
      background-color: #11182780;
      border-radius: 24px;
      padding: 20px;
      line-height: 1.5em;
    }
  }

  .introduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .privacy {
    margin-top: 30px;

    display: grid;
    text-align: center;

    dt {
      font-size: 1.4em;
      font-weight: bold;
    }

    dd {
      padding: 10px;
    }
  }
}

@media (min-width: 767px) {
  .AboutMeinner {
    .privacy {
      grid-template-columns: 1fr 1fr;
    }
  }
}
