.studyLog {
  width: 80%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 0 auto;

  .studyLogInner {
    margin: 0 auto;
    padding: 50px 20px;
    max-width: 1000px;
    text-align: center;

    .title {
      font-size: 3em;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: column;
      padding: 20px 0;
    }

    .studyLogLink {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }
  }
}

@media (min-width: 767px) {
  .studyLog {
    .studyLogInner {
      .info {
        flex-direction: row;
        justify-content: center;
        gap: 4px;
      }
    }
  }
}
