.studyLogInner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0px;
  border-bottom: 1px solid;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.info {
  display: inline-block;
  padding: 20px 0;
}

.studyLogLink {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
