.projectItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;

  .title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    background-color: rgb(230, 230, 230);
    border-radius: 16px;
  }

  .image {
    height: 150px;
  }
}
