.skills {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 80px 0px;
  border-bottom: 1px solid;

  .title {
    font-size: 60px;
    font-weight: bold;
  }

  .inner {
    width: 100%;
    padding-top: 30px;

    display: grid;
    grid-template-columns: 0.7fr 1fr;

    .swiper {
      width: 50%;

      .swiperSlide {
        display: flex;
        align-items: center;
      }
    }

    .skillListInner {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}
