.skillsInner {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0px;
  border-top: 1px solid white;

  .title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;

    .swiper {
      width: 100%;
      max-width: 250px;
      aspect-ratio: 1/1;
    }

    .skillList {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 1em;

      .skillItem {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .items {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .skillsInner {
    .content {
      flex-direction: row;
    }
  }
}
