.skillsInner {
  width: 1000px;
  margin: 0 auto;
  padding: 80px 0px;
  border-bottom: 1px solid;
}

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}

.title {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.content{
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 20px;

  padding-top: 40px;
}

.skillList{
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;

  font-size: 20px;

  span{
    margin: 0 5px;
  }
}

