.projectHeader {
  position: fixed;
  z-index: 999;

  width: 100%;
  height: var(--header-height);
  background-color: var(--basic-background);
  border-bottom: 1px solid white;

  display: flex;
  align-items: center;

  .backButton {
    display: inline-block;

    cursor: pointer;
    font-size: 1.8em;
    padding: 10px;
    font-family: "YeongwolTTF-Regular";

    &:hover {
      font-weight: bold;
    }
  }
}

@media (min-width: 767px) {
  .projectHeader {
    .backButton {
      margin-left: 5%;
    }
  }
}
