.projectHeader {
  width: 100%;
  height: var(--header-height);

  position: fixed;
  z-index: 999;
  background-color: var(--basic-background);
  border-bottom: 1px solid white;

  display: flex;
  align-items: center;

  .backButton {
    display: inline-block;
    margin-left: 5%;

    cursor: pointer;
    font-size: 1.8em;
    padding: 20px 40px;
    font-family: "YeongwolTTF-Regular";

    &:hover {
      font-weight: bold;
    }
  }
}
