@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #000000;
  --basecolor: rgb(229, 231, 235);
  --graycolor: rgb(156, 163, 175);
}

@theme inline {
  --color-background: var(--background);
  --color-basecolor: var(--basecolor);
  --color-graycolor: var(--graycolor);
}

* {
  font-family: "Pretendard-Regular", serif;
}
