@import "./fonts.css";

:root {
  --basic-background: #000000;
}

* {
  font-family: "Pretendard-Regular", serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--basic-background);
}

a {
  color: inherit;
}
