@import "./fonts.css";

:root {
  --basic-background: #000000;
  --header-height: 120px;
  --highLight-color: rgba(135, 131, 120, 0.15);
}

* {
  font-family: "Pretendard-Regular", serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: var(--basic-background);
  color: white;
}

a {
  color: inherit;
}

summary{
  display: list-item;
  cursor: pointer;
  list-style-position: inside; 
  padding-bottom: 10px;
  padding-left: 0;              
}
summary::marker{ content: "▶ "; }
details[open] > summary::marker{ content: "▼ "; }
