/* page 공용 style */
.project {
  padding-top: calc(var(--header-height) + 50px);
  padding-bottom: 50px;

  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  line-height: 1.4;
}

.projectDesc {
  width: 90%;

  display: flex;
  flex-direction: column;
  gap: 30px;
  word-break: keep-all;
  white-space: pre-line;

  .descTitle {
    font-size: 1.3em;
    font-weight: bold;
  }

  img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 16/9;
  }

  details {
    p {
      padding: 10px;
      background-color: var(--highLight-color);
      border-radius: 16px;
    }
  }
}
