.header {
  width: 100%;
  height: var(--header-height);

  border-bottom: 1px solid rgb(168, 157, 157);
  background-color: var(--basic-background);
  color: white;

  position: fixed;
  z-index: 999;

  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .title {
      display: none;
      font-size: 1.5em;
      font-weight: 600;
    }

    .list {
      display: flex;
      font-size: 1.1em;

      li {
        cursor: pointer;
        font-family: "YeongwolTTF-Regular";
        padding: 20px;
      }

      li:hover {
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 767px) {
  .header {
    .inner {
      justify-content: space-between;

      .title {
        display: block;
      }
    }
  }
}
