.header {
  width: 100%;
  height: 120px;
  min-width: 700px;

  border-bottom: 1px solid rgb(168, 157, 157);
  background-color: var(--basic-background);
  color: white;

  position: fixed;
  z-index: 999;
}

.inner {
  width: 80%;
  height: 100%;

  padding: 16px 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.list {
  display: flex;

  li {
    cursor: pointer;
    font-family: "YeongwolTTF-Regular";
    font-size: 20px;
    padding: 20px;
  }

  li:hover {
    font-weight: bold;
  }
}
