.header {
  width: 100%;
  height: var(--header-height);

  border-bottom: 1px solid rgb(168, 157, 157);
  background-color: var(--basic-background);
  color: white;

  position: fixed;
  z-index: 999;

  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .title {
      font-size: 1.5em;
      font-weight: 600;
    }

    .list {
      display: flex;

      li {
        cursor: pointer;
        font-family: "YeongwolTTF-Regular";
        font-size: 1em;
        padding: 20px;
      }

      li:hover {
        font-weight: bold;
      }
    }
  }
}

/* 헤더 반응형 조절하기 */
