.intro {
  width: 100%;
  padding-top: 62px;

  --title-font-size: 6em;
  --name-font-size: 1em;
  --nameBig-font-size: 1.3em;
  --goal-font-size: 1.2em;
  --gitHub-size: 40px;

  .inner {
    width: 80%;
    height: 900px;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    & > * {
      opacity: 0;
    }

    .title {
      color: gray;
      font-size: var(--title-font-size);
      font-family: "YeongwolTTF-Regular";
      font-weight: 600;
    }

    .name {
      color: white;
      font-weight: bold;
      font-size: var(--name-font-size);

      span {
        font-size: var(--nameBig-font-size);
      }
    }

    .goal {
      font-size: var(--goal-font-size);
      color: gray;

      & > span {
        display: block;
      }

      & > span:first-child {
        padding-bottom: 10px;
      }

      & > strong {
        font-size: 25px;
      }
    }

    .gitHub {
      width: var(--gitHub-size);
      aspect-ratio: 1/1;
    }
  }
}

/* mobile */
@media (min-width: 767px) {
  .intro {
    --title-font-size: 8em;
    --name-font-size: 1.2em;
    --nameBig-font-size: 1.5em;
    --goal-font-size: 1.4em;
  }
}

/* tablet */
@media (min-width: 1024px) {
  .intro {
    --title-font-size: 10em;
    --name-font-size: 1.5em;
    --nameBig-font-size: 2em;
    --goal-font-size: 1.6em;
  }
}
