.projectHeader{
    width: 100%;
    height: var(--header-height);

    position: fixed;
    z-index: 999;
    background-color: var(--basic-background);
   
    border-bottom: 1px solid white;

    .backButton{
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        
        display: inline-block;
        cursor: pointer;
        font-size: 40px;
        padding: 20px 40px;
        font-family: "YeongwolTTF-Regular";

        &:hover{
            font-weight: bold;
        }
    }


}