/* page 공용 style */

.project {
    padding-top: calc(var(--header-height) + 50px);
    padding-bottom: 50px;

    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.heroImg {
    display: block;
    height: 500px;

    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
    border-radius: 8px;
    position: relative;

    .btnLinkBg {
        position: absolute;
        width: 100%;
        height: 100%;

        transition: background-color 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        .btnLink {
            padding: 20px;
            background-color: black;
            font-size: 18px;
            font-weight: bold;
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &:hover .btnLink{
        opacity: 1;
    }

     &:hover .btnLinkBg{
       background-color: rgb(0, 0, 0, 0.5);
    }
}

.projectDesc{
    display: flex;
    flex-direction: column;
    gap: 30px;

   .mainTitle{
    font-size: 50px;
    font-weight: 700;
   }

   .skill{
    position: relative;
    bottom: 15px;
   }

   .skillList{
    display: inline-flex;
    padding-left: 10px;
    gap: 10px;
   }

   .desc{
    background-color: rgba(17, 24, 39, 0.5);
    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 15px;
   }

   .descTitle{
    font-size: 20px;
    font-weight: bold;
   }

   .descContent{
    line-height: 1.5;
    white-space: pre-line;
   }

   img{
    object-fit: contain;
   }

}






